<div class="container">
<footer class="footer">
        <div class="bottom-bar">
            <div class="container">
                <div class="row">
                    <hr/>
                    <small class="copyright col-md-6 col-sm-12 col-xs-12">Copyright @ 2015-2020 Powered by <a href="www.camtasia-tech.com">Camtasia Technology Co., Ltd;</a></small>
                    <ul class="social pull-right col-md-6 col-sm-12 col-xs-12">
                    </ul><!--//social-->
                </div><!--//row-->
            </div><!--//container-->
        </div><!--//bottom-bar-->
    </footer><!--//footer-->
</div>